    * {
        margin: 0;
        padding: 0%;
    }
    
    body {
        background-color: #fcfcfc;
    }
    
    a {
        text-decoration: none;
    }
    
    .clr1 {
        color: #838383;
        font-size: 18px;
        font-weight: 400px;
    }
    /* Menu Start */
    
    #Menu {
        position: fixed;
        z-index: 433443;
        bottom: 0;
        width: 100%;
    }
    
    #Menu .container {
        width: 100%;
        position: relative;
        padding: 0;
    }
    
    .tab-container {
        width: 100%;
        background-color: #f2f2f2;
        overflow: hidden;
        display: flex;
        justify-content: space-evenly;
        padding: 5px 10px 0 10px;
        box-shadow: 0px 4px 15px 0px #00000040;
        border-radius: 40px 40px 0 0;
    }
    
    #Menu .container .tab-container .tab {
        float: left;
        padding: 10px 20px;
        font-size: 17px;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }
    
    #Menu .container .tab-container .tab i {
        color: #7E7E7E;
        font-size: 22px;
    }
    
    #Menu .container .tab-container .tab:hover {
        background-color: #e1e1e1
    }
    
    #Menu .container .tab-container .tab.active {
        background-color: #FF0000;
        border-radius: 20px 20px 0 0;
    }
    
    #Menu .container .tab-container .tab.active i {
        color: #fff;
        padding-bottom: 5px;
        border-bottom: 2px solid #fff;
    }
    
    #Menu .container .tab-content {
        width: 100%;
        padding: 40px 20px;
        border: 1px solid #cfcfcf;
        border-top: 0;
        position: absolute;
        display: none;
    }
    
    #Menu .container .tab-content h1 {
        font-weight: 400;
        font-size: 27px;
        margin-bottom: 20px;
        /* animation: fading 1s; */
    }
    
    #Menu .container .tab-content p {
        color: #555;
        font-size: 16px;
        font-weight: 400;
        /* animation: fading 2s; */
    }
    /* Menu ENd */
    /* TopNav Section Start */
    
    #TopNav .ourLocation button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
    }
    
    #TopNav .ourLocation button span {
        color: #000;
        font-weight: 400;
        font-size: 18px;
    }
    
    #TopNav .ourLocation button .locationIcons {
        margin: 0 10px;
        background-color: #FF0000;
        color: #Fff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
    }
    
    #TopNav .ourPartners {
        display: flex;
        justify-content: flex-end;
    }
    /* TopNav Section End */
    /* First Slide Start */
    
    .carousel-inner {
        border-radius: 20px !important;
        margin: 20px 0;
    }
    
    .carousel-inner .overlay {
        position: absolute;
        z-index: 1213;
        bottom: 0;
        width: 100%;
        height: 250px;
        background: linear-gradient(360deg, #454444 -40.26%, rgba(0, 0, 0, 0) 82.03%);
    }
    
    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: -15px !important;
        left: 0;
        z-index: 21241;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
    }
    
    .carousel-dark .carousel-indicators [data-bs-target] {
        background-color: #fff;
    }
    
    .carousel-caption {
        position: absolute;
        right: 0%;
        left: 0%;
        bottom: 0;
        color: #fff;
        text-align: start;
        width: 100%;
    }
    
    .carousel-caption .sliderText {
        margin: 0 20px;
        z-index: 234235;
        position: relative;
    }
    
    .carousel-caption .sliderText h3 {
        color: #fff;
    }
    
    .carousel-caption .sliderText p {
        color: #fff;
    }
    
    .carousel-dark .carousel-indicators [data-bs-target] {
        width: 15px;
        border: #000;
        border-radius: 50%;
        height: 15px;
        margin: 10px;
    }
    /* First Slide End */
    /* Search Input Start */
    
    #InpSearch i {
        color: #9B9B9B;
    }
    
    #InpSearch .btn {
        border-radius: 20px 0 0 20px !important;
        background-color: #fff;
        border: 1px solid #FFBDBD8C;
        box-shadow: none !important;
        /* box-shadow: 0px 4px 15px 0px #0000001A; */
    }
    
    #InpSearch .searchInp {
        border-radius: 0 20px 20px 0 !important;
        border: 1px solid #FFBDBD8C;
        box-shadow: 0px 4px 15px 0px #0000001A;
        color: #A2A3A4;
    }
    /* Search Input Start */
    /* Campaing Start */
    
    .home-demo .item .itemImg img {
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px #0000001A;
    }
    
    .home-demo .item .itemImg {
        position: relative;
        width: 100%;
        height: 70%;
    }
    
    .home-demo .item .itemImg .profileImgRestauran {
        position: absolute;
        bottom: 13px;
        left: 10px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
    
    .home-demo .item .itemImg .Eticet {
        position: absolute;
        top: 10px;
        right: 5px;
        width: 55px;
        height: 55px;
    }
    
    .home-demo .item .itemImg .Eticet img {
        box-shadow: none !important;
        width: 100%;
    }
    
    .home-demo .item .itemImg .discount {
        position: absolute;
        top: 13px;
        left: 10px;
        width: 60px;
        text-align: center;
        border-radius: 10px;
        height: 30px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .home-demo .item .itemImg .discount span {
        color: #D60000;
        font-weight: 600;
        font-size: 18px;
    }
    
    .home-demo .item .itemImg .profileImgRestauran img {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
    
    .home-demo .item {
        background-color: #fff;
        box-shadow: 0px 4px 15px 0px #0000001A;
        border-radius: 20px;
    }
    
    .home-demo .item .itemTitle {
        padding: 10px;
        width: 100%;
        height: 30%;
    }
    
    .home-demo .item .itemTitle .itemName {
        border-bottom: 1px dashed #00000040;
    }
    
    .home-demo .item .itemTitle .itemFav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .home-demo .item .itemTitle .itemFav .StarIcon {
        color: #FFD90F;
        font-size: 18px;
        margin: 5px;
        padding-right: 5px;
        /* border-right: 1px solid #00000040; */
    }
    
    .home-demo .item .itemTitle .itemFav .NavIcon {
        color: #3E3E3E;
        font-size: 18px;
        margin: 5px;
        padding-right: 5px;
        /* border-right: 1px solid #00000040; */
    }
    
    .home-demo .item .itemTitle .itemFav .FavIcon {
        color: #3E3E3E;
        font-size: 16px;
        margin: 5px;
        padding-right: 5px;
    }
    
    .home-demo .item .itemTitle .itemFav .FavIcon i {
        color: #FF0000;
    }
    
    .home-demo .item .itemTitle .itemFav h6 {
        font-weight: 700;
        font-size: 24px;
    }
    
    .home-demo .item .itemTitle span {
        font-weight: 400;
        font-size: 18px;
    }
    
    #Campaing .allBtn {
        display: flex;
        justify-content: flex-end;
    }
    
    #Campaing .allBtn a {
        padding: 0 10px;
        background-color: #FF000057;
        text-align: center;
        border-radius: 30px;
        font-weight: 600;
        color: #FF0000;
    }
    
    #Campaing .item {
        width: 100%;
        height: 100%;
    }
    
    hr {
        margin: 10px;
        background-color: #CDCDCD4D;
        opacity: 1;
    }
    
    #Campaing .imgFood {
        width: 100%;
        height: 200px !important;
    }
    
    #Products .imgFood {
        width: 100%;
        height: 200px;
    }
    
    #Recommindation .imgFood {
        width: 100%;
        height: 200px;
    }
    
    .imgFood {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    
    .owl-carousel .owl-stage-outer {
        padding: 10px 0 10px 0;
    }
    /* Campaing End */
    /* Products Start */
    
    #Products .allBtn {
        display: flex;
        justify-content: flex-end;
    }
    
    #Products .allBtn a {
        padding: 0 10px;
        background-color: #FF000057;
        text-align: center;
        border-radius: 30px;
        font-weight: 600;
        color: #FF0000;
    }
    
    #Products .item {
        width: 100%;
        height: 100%;
    }
    
    #Products .home-demo .item .itemImg {
        height: 60%;
    }
    
    #Products .home-demo .item .itemTitle {
        height: 40%;
        padding: 5px !important;
    }
    /* Products End */
    /* Organization Start */
    
    #Organization .allBtn {
        display: flex;
        justify-content: flex-end;
    }
    
    #Organization .allBtn a {
        padding: 0 10px;
        background-color: #FF000057;
        text-align: center;
        border-radius: 30px;
        font-weight: 600;
        color: #FF0000;
    }
    
    #Organization .home-demo .item .itemTitle .itemFav {
        display: flex;
        align-items: start;
        flex-direction: column;
    }
    
    #Organization .home-demo .item .itemTitle .itemFav span {
        color: #000;
        font-size: 10px;
    }
    
    #Organization .orgDate {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #Organization .orgDate p {
        color: #FF0000;
        margin: 0;
        padding: 0;
    }
    /* Organization End */
    /* Recommendation Start */
    
    #Recommendation .allBtn {
        display: flex;
        justify-content: flex-end;
    }
    
    #Recommendation .allBtn a {
        padding: 0 10px;
        background-color: #FF000057;
        text-align: center;
        border-radius: 30px;
        font-weight: 600;
        color: #FF0000;
    }
    
    #Recommendation .item {
        width: 100%;
        height: 100%;
    }
    
    #Recommendation .home-demo .item .itemImg {
        height: 60%;
    }
    
    #Recommendation .home-demo .item .itemTitle {
        height: 40%;
        padding: 5px !important;
    }
    /* Recommindation End */
    /* GameBtn Start */
    
    #GameBtn .GameBtn {
        background-color: #FF0000;
        padding: 8px;
        border: none;
        border-radius: 20px;
        width: 100%;
        margin: auto;
        /* display: flex; */
        /* justify-content: center; */
    }
    
    #GameBtn .GameBtn span {
        color: #fff;
        font-size: 18px;
    }
    
    #GameBtn .GameImg img {
        width: 50%;
    }
    
    #GameBtn .GameContent {
        display: flex;
        justify-content: start;
    }
    
    #GameBtn .GameContent span {
        font-size: 34px;
    }
    /* GameBtn End */
    /* Search Page Start */
    /* Top NavPage Start */
    
    #TopNavPage .topSearch button {
        border: none;
        background: #eeeeee;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    
    #TopNavPage .topSearch {
        display: flex;
    }
    
    #TopNavPage .icon-search-container {
        display: inline-block;
        border-radius: 50px;
        height: 40px;
        width: 40px;
        position: relative;
        background-color: #eeeeee;
        transition: width 0.2s ease-out;
        backface-visibility: hidden;
        margin: 0 4px;
    }
    
    #TopNavPage .icon-search-container.active {
        width: 185px;
    }
    
    #TopNavPage .icon-search-container.active .fa-times-circle {
        opacity: 1;
    }
    
    #TopNavPage .icon-search-container.active .search-input {
        width: 100px;
    }
    
    #TopNavPage .icon-search-container .fa-search {
        color: #3E3E3E;
        font-size: 18px;
        position: absolute;
        font-weight: 400;
        top: 10px;
        left: 10px;
        cursor: pointer;
    }
    
    #TopNavPage .icon-search-container .fa-times-circle {
        opacity: 0;
        color: #d9d9d9;
        font-size: 20px;
        position: absolute;
        top: 10px;
        right: 8px;
        transition: opacity 0.2s ease-out;
        cursor: pointer;
    }
    
    #TopNavPage .icon-search-container .search-input {
        position: absolute;
        cursor: default;
        left: 45px;
        top: 6px;
        width: 0;
        padding: 5px;
        border: none;
        outline: none;
        font-size: 18px;
        line-height: 20px;
        background-color: rgba(255, 255, 255, 0);
        transition: width 0.2s ease-out;
    }
    
    #TopNavPage .dropdown-toggle::after {
        display: none !important;
    }
    
    #TopNavPage .dropdown {
        background: #eeee;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        box-shadow: none !important;
    }
    
    #TopNavPage .dropdown button {
        border: none;
    }
    
    #TopNavPage .drop {
        display: flex;
        justify-content: flex-end;
    }
    
    #TopNavPage .dropdown i {
        font-size: 22px;
    }
    
    #TopNav .dropdown-toggle::after {
        display: none !important;
    }
    
    #TopNav .dropdown {
        background: #eeee;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        box-shadow: none !important;
    }
    
    #TopNav .dropdown button {
        border: none;
    }
    
    #TopNav .drop {
        display: flex;
        justify-content: flex-end;
    }
    
    #TopNav .dropdown i {
        font-size: 22px;
    }
    
    #Products .item {
        margin: 10px 0;
    }
    /* Top NavPage End */
    /* Location Page Start  */
    
    #Location .mapSearch {
        position: absolute;
        z-index: 42412412412;
        background: #fff;
        bottom: -5px;
        width: 100%;
        height: 200px;
        border-radius: 25px 25px 0 0;
        padding: 10px;
        box-shadow: 0px 4px 15px 0px #0000001A;
    }
    
    #Location .mapSearch .title {
        display: flex;
        align-items: center;
    }
    
    #Location .mapSearch .title .locationIcons {
        margin: 0 10px;
        background-color: #FF0000;
        color: #Fff;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
    
    #Location .search-box {
        width: 100%;
        position: relative;
        display: flex;
        margin: 10px 0;
    }
    
    #Location .search-input {
        width: 100%;
        padding: 3px;
        border-radius: 0 20px 20px 0;
        border: 0.5px solid #FF000026;
        border-left: none;
        outline: none;
        font-size: 16px;
        background: none;
    }
    
    #Location .search-button {
        text-align: center;
        height: 40px;
        width: 40px;
        outline: none;
        border-right: none;
        cursor: pointer;
        border-left: 0.5px solid #FF000026;
        border-bottom: 0.5px solid #FF000026;
        background-color: transparent;
        border-top: 0.5px solid #FF000026;
        border-radius: 20px 0 0 20px;
        font-size: 18px;
    }
    
    #Location .search-button i {
        color: #3F3E3E59;
        font-weight: 400;
    }
    
    #Location .CafeLoc {
        width: 100%;
        height: 80px;
        overflow: scroll;
    }
    
    #Location .navCafe {
        display: flex;
        align-items: center;
        margin: 5px 0;
    }
    
    #Location .navCafe span {
        color: #000;
        font-size: 18px;
        margin-left: 10px;
    }
    
    #Location .navCafe .imgDiv {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 0px 4px 15px 0px #0000001A;
    }
    
    #Location .navCafe .imgDiv img {
        width: 100%;
    }
    
    .place-card-medium {
        display: none !important;
    }
    
    #Location #TopNavPage {
        position: absolute;
        width: 100%;
    }
    
    #Location #TopNavPage .topSearch {
        display: flex;
        justify-content: flex-end;
    }
    /* Location Page End */